<?xml version="1.0" encoding="utf-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
xmlns="http://java.sun.com/xml/ns/javaee"
xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
xsi:schemaLocation="http://java.sun.com/xml/ns/javaee
http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" version="2.5">
	<servlet>
		<servlet-name>AssignmentUserRegistration</servlet-name>
		<servlet-class>com.assignment.userregistration.AssignmentUserRegistrationServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>AssignmentUserRegistration</servlet-name>
		<url-pattern>/register</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>UserDelete</servlet-name>
		<servlet-class>com.assignment.userregistration.UserDelete</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>UserDelete</servlet-name>
		<url-pattern>/delete</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>GetUserDetails</servlet-name>
		<servlet-class>com.assignment.userregistration.GetUserDetails</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>GetUserDetails</servlet-name>
		<url-pattern>/getUserDetails</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>ModifyUserDetails</servlet-name>
		<servlet-class>com.assignment.userregistration.ModifyUserDetails</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>ModifyUserDetails</servlet-name>
		<url-pattern>/modify</url-pattern>
	</servlet-mapping>
	
	
	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
	</welcome-file-list>
</web-app>
